*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {

    background: #222;
    color: white;
}

@media screen and (max-width: 768px){

    html {
        font-size:70%;
    }
}